parameters:
	ignoreErrors:
		-
			message: '#^Cannot call method getPageProperty\(\) on bool\|ParserOutput\.$#'
			identifier: method.nonObject
			count: 1
			path: src/EntryPoints/PersistentPageIdentifiersHooks.php

		-
			message: '#^Method ProfessionalWiki\\PersistentPageIdentifiers\\EntryPoints\\PersistentPageIdentifiersHooks\:\:onInfoAction\(\) has parameter \$pageInfo with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/EntryPoints/PersistentPageIdentifiersHooks.php
