parameters:
	ignoreErrors:
		-
			message: '#^Cannot access property \$page_id on array\|bool\|stdClass\.$#'
			identifier: property.nonObject
			count: 1
			path: src/Adapters/DatabasePersistentPageIdentifiersRepo.php

		-
			message: '#^Cannot access property \$persistent_id on array\|bool\|stdClass\.$#'
			identifier: property.nonObject
			count: 1
			path: src/Adapters/DatabasePersistentPageIdentifiersRepo.php

		-
			message: '#^Cannot call method getArticleID\(\) on Title\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/EntryPoints/PersistentPageIdFunction.php

		-
			message: '#^Method ProfessionalWiki\\PersistentPageIdentifiers\\EntryPoints\\PersistentPageIdentifiersHooks\:\:onInfoAction\(\) has parameter \$pageInfo with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/EntryPoints/PersistentPageIdentifiersHooks.php

		-
			message: '#^Method ProfessionalWiki\\PersistentPageIdentifiers\\PersistentPageIdentifiersExtension\:\:getDatabase\(\) should return Wikimedia\\Rdbms\\IDatabase but returns Wikimedia\\Rdbms\\IDatabase\|false\.$#'
			identifier: return.type
			count: 1
			path: src/PersistentPageIdentifiersExtension.php

		-
			message: '#^Parameter \#1 \$format of class ProfessionalWiki\\PersistentPageIdentifiers\\Presentation\\PersistentPageIdFormatter constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/PersistentPageIdentifiersExtension.php

		-
			message: '#^Parameter \#1 \$id of class ProfessionalWiki\\PersistentPageIdentifiers\\Adapters\\StubPersistentPageIdentifiersRepo constructor expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/PersistentPageIdentifiersExtension.php
